@model IEnumerable<Streamverse.Models.Admin>

@{
    ViewBag.Title = "Welcome System Admin, "+ TempData["adminName"];
}

<h2>Admins List</h2>

<table class="admin-details-table">   
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Last_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessLevel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Last_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessLevel)
        </td>
        <td>
            @if (item.AdminID != (int)TempData["SystemAdmin"])
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.AdminID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AdminID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AdminID })
            }  
        </td>
    </tr>
}

</table>
